body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #ff9494;
}
#thankyou {
  font-size: 50px;
  margin-bottom: 20px;
.love-button {
  display: block;
  margin: 30px auto;
  padding: 12px 25px;
  font-size: 18px;
  background-color: #ff6b81;
  color: white;
  border: none;
  border-radius: 25blue-style none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.love-button:hover {
  background-color: #ff4757;
  transform: scale(1.05);
}

/* Popup background */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* Popup box */
.popup-content {
  background: #fff0f5;
  padding: 40px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

.popup-content h2 {
  color: #ff4d6d;
  margin-bottom: 15px;
}

.love-paragraph {
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
  color: #333;
}

/* Close button */
.close {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #ff4d6d;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.8);}
  to {opacity: 1; transform: scale(1);}
}
.rizz {
  margin-bottom: 10 px;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ff9494;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
  box-shadow: 1px 1px 2px #ffe3e1;
}
